// Bad SCSS
.selector {
  padding: 15px;
  .nested-selector {
    padding: 15px; }
}
.another-selector {

  .nested-selector {
    margin: 10px auto;
  }
}

// Good SCSS
.selector {
  padding: 15px;

  .nested-selector {
    padding: 15px;
  }
}

.another-selector {
  .nested-selector {
    margin: 10px auto;
  }
}
